@model IEnumerable<hw6.Models.People>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Client Search</h2>

@using (Html.BeginForm("Index", "People", FormMethod.Get, new { @class = "form-inline", style = "text-align:center;" }))
{
    <div class="form-group" style="line-height: 0.5cm;" >
        <div class="input-group " style="text-align:center;">
            @Html.TextBox("searchBar", "", new { @class = "form-control", @placeholder = "Search by client name", required = "required", size="50" })
            <br />
            <br />
            <button class="btn btn-primary" type="submit">Search</button>

        </div>
    </div>
}


    <div class="row">
        <br />
        <br />
        @if (ViewBag.display)
        {
            if (ViewBag.isValid <= 0)
            {
                <div class="col-lg-12" style="border-style: solid; border-color: orangered; text-align:center">
                    <p>I am sorry. Can't find this person! Maybe try different name?</p>
                </div>
            }
            else
            {
                foreach (var people in Model)
                {
                    <div class="col-lg-4 text-center" style="border-left: 6px solid red;">
                        <a class="btn btn-light" href="People/Details/@people.PersonID" role="button">@people.FullName</a>
                    </div>
                }

            }
        }
    </div>